**/bin/
**/obj/
**/.vs/
**/.vscode/
**/*.user
**/*.suo
**/*.cache
**/*.pdb
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/.classpath
**/.project
**/.settings
**/.toolstarget
**/charts/
**/node_modules/
**/npm-debug.log
**/azds.yaml
**/secrets.dev.yaml
**/values.dev.yaml

.git/
.gitignore
.env
docker-compose*.yml
docker-data/
LICENSE
README.md