<footer class="footer bg-dark text-white mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5 class="mb-3">
          <i class="fas fa-briefcase me-2"></i> Hiring System
        </h5>
        <p class="text-white">Your gateway to amazing career opportunities. Join our team and make a difference.</p>
      </div>
      
      <div class="col-md-4 mb-3">
        <h6 class="mb-3">Quick Links</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">About Us</a></li>
          <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-white text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>
      
      <div class="col-md-4 mb-3">
        <h6 class="mb-3">Connect With Us</h6>
        <div class="social-links">
          <a href="#" class="text-white me-3"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </div>
    
    <hr class="bg-secondary">
    
    <div class="text-center">
      <p class="mb-0 text-white">&copy; {{ currentYear }} Hiring System. All rights reserved.</p>
    </div>
  </div>
</footer>
